### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Исключаем папку .idea и все её содержимое
.idea/

# Исключаем все файлы .iml
*.iml

# Исключаем папку target (для Maven/Gradle)
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store